<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/students">Students List</a></li>
        <li><a href="/teachers">Teachers List</a></li>
        <li><a href="/subjects">Subjects List</a></li>
    </ul>
</nav>